.card-body {
    padding: 20px;
    background-color: #425480;
    color: white;
    border-radius: 30px;
}

.card-container{
    background-color: #425480;
    border-radius: 30px;
}

h2 {
    font-weight: bold;
    color: #333;
}

h5{
    min-height: 48px;
}

a{
    max-width: 60%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .card-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}