h1 {
    font-weight: bold;
    color: #333;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: white;
}

main p {
    font-size: 20px;
}

.banner {
    background-color: #425480;
    color: white;
    height: auto;  
    width: 90%;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;  
    padding: 60px;  
    border-radius: 10px;
    font-size: 20px;
}

.software-section {
    background-color: #425480; 
    width: 90%;  
    margin: 0 auto; 
    padding: 20px;  
    border-radius: 10px;
}

.icons-row img {
    max-width: 100%; 
    width: 200px;
    height: auto; 

.icons-row a {
    color: white;   
    text-decoration: none;
}



.icono-circular {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
}

.icon-text {
    max-width: 60%;
    margin-top: 60px;
    text-align: center;
}

}