h1 {
    font-weight: bold;
    color: #333;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

main p {
    font-size: 20px;
}

/* Estilos para el banner */
.banner {
    background-color: #425480;
    color: white;
    height: auto;  /* Auto para que la altura se ajuste al contenido */
    width: 90%;  /* Ocupa el 90% del ancho de la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;  /* Centra horizontalmente */
    padding: 60px;  /* Añade un poco de espacio interno */
    border-radius: 10px;
    font-size: 20px;
}

/* Estilos para el contenedor de Mantenimiento de Software */
.software-section {
    background-color: #d9d9d9; /* Fondo gris claro */
    width: 90%;  /* Ocupa el 90% del ancho de la pantalla */
    margin: 0 auto; /* Centrado horizontalmente */
    padding: 20px;  /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados (opcional) */
}

.icons-row img {
    max-width: 100%; /* Asegura que las imágenes no excedan el contenedor */
    width: 200px;
    height: auto; /* Mantiene la relación de aspecto */
}

.icons-row a {
    color: black;   
    text-decoration: none;
}



/* Estilos para los iconos circulares */
.icono-circular {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
}

.icon-text {
    max-width: 60%;
    margin-top: 60px;
    text-align: center;
}
